.study-tab-background {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 100%;
  overflow: auto;
}

.study-tab-sheet {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 700px;
  text-align: center;
}

.study-materials {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Add more spacing between items */
  margin-top: 20px;
}

.material-group {
  margin-bottom: 20px;
}

.material-item {
  display: flex;
  justify-content: space-between;  /* Align items horizontally */
  align-items: center;  /* Center items vertically */
  margin-bottom: 10px;
}

.material-button {
  background-color: #f5f7fa;
  padding: 15px 20px;
  border: 2px solid #dfe6e9;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
  width: 80%;  /* Make the material button bigger */
}

.material-button:hover {
  background-color: #ecf0f1;
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.delete-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 15%;  /* Make the delete button smaller */
  margin-left: 10px;
}

.delete-button:hover {
  background-color: #c0392b;
}

.full-width-button {
  background-color: #1abc9c;
  color: white;
  font-size: 1rem;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-weight: bold;
}

.full-width-button:hover {
  background-color: #16a085;
}

.flashcard-section {
  margin-top: 20px;
}
