html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 20%; /* 1/5 of the page width */
  background-color: #2c3e50; /* Modern dark color */
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for modern look */
}

.sidebar button {
  background: none; /* No background */
  color: inherit; /* Inherit text color */
  border: 2px solid transparent; /* Transparent border initially */
  padding: 15px; /* Padding for larger clickable area */
  margin: 10px 0; /* Space between buttons */
  cursor: pointer;
  font-size: 16px; /* Larger font size */
  display: flex; /* Flexbox for icon and text alignment */
  align-items: center; /* Center items vertically */
  transition: all 0.3s; /* Smooth transition for hover effect */
}

.sidebar button:hover {
  border-color: #1abc9c; /* Change border color on hover */
  border-radius: 5px; /* Rounded corners */
}

.sidebar button.active {
  border-color: #1abc9c; /* Border color for active tab */
  background-color: #34495e; /* Slightly off-colored background for active tab */
  border-radius: 5px; /* Rounded corners */
}

.icon-placeholder {
  width: 40px; /* Increased width for the icon */
  height: 40px; /* Increased height for the icon */
  margin-right: 10px; /* Space between icon and text */
  display: flex; /* Flexbox for centering the image */
  align-items: center; /* Center the image vertically */
  justify-content: center; /* Center the image horizontally */
}

.icon-placeholder img {
  max-width: 100%; /* Ensure the image fits within the placeholder */
  max-height: 100%; /* Ensure the image fits within the placeholder */
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ecf0f1; /* Light background for content */
}